<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>FIREBASE_DATABASE_URL</key>
	<string>https://balance-the-ball-2f0a8-default-rtdb.europe-west1.firebasedatabase.app/</string>
	<key>FIREBASE_PROJECT_ID</key>
	<string>balance-the-ball-2f0a8</string>
</dict>
</plist>